@using System.Collections
@model antons_auto.mvc.ViewModels.CarViewModel

@{
    ViewData["Title"] = "Bil";
}

<h1>Rediger bil</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CarID" />
            <input type="hidden" asp-for="CarBrandID" />
            <input type="hidden" asp-for="CarModelID" />
            <div class="form-group">
                <label asp-for="CarBrandName" class="control-label"></label>
                <input asp-for="CarBrandName" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="CarModelName" class="control-label"></label>
                <input asp-for="CarModelName" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MileAge" class="control-label"></label>
                <input asp-for="MileAge" class="form-control" />
                <span asp-validation-for="MileAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressNo" class="control-label"></label>
                <input asp-for="AddressNo" class="form-control" />
                <span asp-validation-for="AddressNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Gem" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tilbage til oversigt</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
