@model IEnumerable<antons_auto.mvc.ViewModels.CarViewModel>

@{
    ViewData["Title"] = "Biler";
    ViewData["ShowButtons"] = true;
}

<h1>Biler</h1>

<p>
    <a asp-action="Create">Opret ny bil</a>
</p>

<div class="d-flex flex-column flex-lg-row">
    @foreach (var item in Model)
    {
        <partial name="_CarPartial" model="item" view-data["ShowButtons"]="false"/>
    }
</div>
