@model IEnumerable<antons_auto.mvc.ViewModels.CarViewModel>

@{
    ViewData["Title"] = "Biler";
    ViewData["ShowButtons"] = true;
}

<style>
    .interaction {
        display: flex;
        flex-direction: row;
        margin-bottom: 25px;
        max-width: 500px;
    }
</style>


<h1>Biler</h1>

<p>
    <a asp-action="Create">Opret ny bil</a>
</p>

<form asp-action="Index" method="get">
    <section class="interaction">
        <div class="input-group ">
            <select class="form-control mr-2"
                    id="SortOrderSelect" asp-items="@((IEnumerable<SelectListItem>) @ViewData["sorting"])" name="sortOrder">
            </select>
            <input type="text" class="form-control mr-2" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Søg mærke/model" />
            <button class="btn btn-outline-secondary" type="submit" value="Search">Opdater</button>
        </div>
    </section>

    <div class="d-flex flex-column flex-lg-row flex-wrap">
        @foreach (var item in Model)
        {
            <partial name="_CarPartial" model="item" view-data["ShowButtons"]="false" />
        }
    </div>
</form>
