@{
    ViewData["Title"] = "Velkommen";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til Anton's Auto</h1>
    <p>Her på Anton's Auto kan du se brugte biler som er til salg</p>
    <p>Her kommer de seneste 5 oprettede biler</p>
</div>